.form-control {
  padding: 12px 14px;
  font-size: var(--fs-sm);
  font-weight: 400;
  background-color: #{$bg-2};
  border-color: #{$border-1};
  border-radius: 4px;

  &::placeholder {
    color: #{$text-disabled};
    opacity: 1;
  }

  &:focus {
    background-color: #{$neutral-white};
    border-color: #{$border-2};
    box-shadow: none;
  }

  &:not(:placeholder-shown) {
    background-color: #{$neutral-white};
  }

  &:disabled, &[readonly] {
    background-color: #{$bg-2};
    color: #{$text-disabled};
    opacity: 1;
  }

}

.form-control.is-invalid,
.was-validated .form-control:invalid {
  background-color: #{$neutral-white};
  border-color: $error;

  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='18' viewBox='0 0 24 24' fill='none'%3E%3Ccircle cx='12' cy='12' r='10' stroke='%23ff6b6b' stroke-width='2'/%3E%3Cpath d='M12 7v7' stroke='%23ff6b6b' stroke-width='2' stroke-linecap='round'/%3E%3Ccircle cx='12' cy='17' r='1.5' fill='%23ff6b6b'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: 12px 50%;
  background-size: 18px 18px;
  padding-left: 36px;

  &:focus {
    box-shadow: none;
  }
}

.form-check-input {
  width: 20px;
  height: 20px;
  border: 2px solid $gray-300;
  --bs-form-check-bg-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='14' viewBox='0 0 14 14' fill='none'%3E%3Cpath d='M11.6895 3.82324L12.2979 4.43066L12.4746 4.60742L6.28223 10.7998C6.13938 10.9428 5.96996 11.0566 5.7832 11.1338C5.59656 11.211 5.3963 11.2493 5.19434 11.249C4.99211 11.2494 4.79137 11.2111 4.60449 11.1338C4.41776 11.0565 4.2483 10.9428 4.10547 10.7998L1.70117 8.39551L1.52441 8.21973L1.70117 8.04199L2.30859 7.43457L2.48535 7.25684L2.66211 7.43457L5.06641 9.83789C5.10014 9.87161 5.14664 9.89062 5.19434 9.89062C5.21808 9.89057 5.24118 9.88588 5.2627 9.87695L5.32129 9.83789L11.5127 3.64648L11.6895 3.82324Z' fill='white' stroke='white' stroke-width='0.5'/%3E%3C/svg%3E");
  &:focus {
    box-shadow: none;
  }
  &:checked[type=radio]{
    --bs-form-check-bg-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='14' viewBox='0 0 14 14' fill='none'%3E%3Cpath d='M11.6895 3.82324L12.2979 4.43066L12.4746 4.60742L6.28223 10.7998C6.13938 10.9428 5.96996 11.0566 5.7832 11.1338C5.59656 11.211 5.3963 11.2493 5.19434 11.249C4.99211 11.2494 4.79137 11.2111 4.60449 11.1338C4.41776 11.0565 4.2483 10.9428 4.10547 10.7998L1.70117 8.39551L1.52441 8.21973L1.70117 8.04199L2.30859 7.43457L2.48535 7.25684L2.66211 7.43457L5.06641 9.83789C5.10014 9.87161 5.14664 9.89062 5.19434 9.89062C5.21808 9.89057 5.24118 9.88588 5.2627 9.87695L5.32129 9.83789L11.5127 3.64648L11.6895 3.82324Z' fill='white' stroke='white' stroke-width='0.5'/%3E%3C/svg%3E");
background-color: $blue-500;
    border-color: $blue-500;
  }
}

.search-wrap {
  position: relative;
}

.search-input {
  /* space for the icon on the right */
  padding-right: 44px; // tweak to taste
  background: transparent;

  &::placeholder {
    color: #{$gray-500};
  }
}

.search-icon {
  position: absolute;
  right: 14px; // distance from right edge
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none; // clicks go to the input
}
